version: # Orb 'circleci/maven@0.0.12' resolved to 'circleci/maven@0.0.12'
  version: 2
  jobs:
    build:
      docker:
        - image: circleci/openjdk:11-jdk
        working_directory: ~/repo

        environment:
          MAVEN_OPTS: -Xmx3200m
      steps:
        - checkout

        - restore_cache: #download and cache dependencies
            keys: v1-dependencies-{{ checksum "pom.xml" }}
            # fallback to using the latest cache if no exact match is found
            -v1-dependencies-

        -run: mvn install -DskipTests

          - run: mvn depencendency:go-offline
          - save_cache:
              paths:
                - ~/.m2
              key: maven-{{ checksum "pom.xml" }}

  -run: mvn integration-test
    # Original config.yml file:
    # version: 2.1
    #
    # orbs:
    #   maven: circleci/maven@0.0.12
    #
    # workflows:
    #   maven_test:
    #     jobs:
  #       - maven/test # checkout, build, test, and upload test results